.container{
  display: flex;
  flex-direction: column;
}

.inner-container {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 24pt;
  font-weight: bold;
  background: blue;
  height: 50px;
  align-items: center; 
}

.tile {
  border: 5px double red;
  height: 190px;
  width: 260px;
  margin: 10pt;
}

.game-board{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}